.lef {
    -moz-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
    margin-left: 100px !important;
    margin-right: 100px !important;
    z-index: 820; }

    @media (max-width: 767px){
        
.lef {
    margin-left: 0 !important;
    margin-right: 0 !important;

}
    }